form{
    display: flexbox;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10rem;
    background-color: pink;
    border: solid pink;
    box-shadow: 2px 2px 2px 2px;
    border-radius: 10px;
}

input {
    width: 100%;
    margin-top:10px;
    margin-right: 20%;
    display: flex;

  }
.sub{
    display: flex;
    margin-top: 2%;
    justify-content: center;
    width: 20%;
    background-color: aqua;
}